{{#> body }}
    {{#each cars}}
        <div class="mb-5">
            <p>Car: {{this.model.name}}</p>

            <form method="POST" action="/book-car/{{this.id}}">
                <button class="btn btn-primary">Book</button>
            </form>
        </div>
    {{/each}}
{{/body}}